.App {
  text-align: center;

  &-title {
    font-weight: 600;
    font-size: 30px;
    color: #343a40;
    margin-right: 440px;
  }
  &-subTitle {
    font-weight: 600;
    font-size: 24px;
    color: #343a40;
    margin-right: 235px;
  }
  &-name {
    color: #858e96;
    margin-top: 40px;
    margin-right: 575px;
  }
  &-github {
    margin-right: 664px;
    color: #858e96;
  }
}
